@media(max-width: 500px){
    body{
        min-width:10rem;
    }
    main{
        margin-top: 0;
    }
    .topNavBar{
        min-width: 10rem;
        position:relative;
    }
    .topNavBar.sticky{
        background: #e06567;

    }
    .topNavBar.sticky>.inner-topbar>.logo{
        color: white;
         }
    .topNavBar>.inner-topbar>.logo{
    margin: 0 auto;
        font-size: 0.6rem;
         }
    .topNavBar .menu{
        display:none;
    }
    section.skills >h2,
    section.portfolio >h2,
    section.message>h2{
        font-size: .7rem;
    }
    main>.userCard>.textAndPicture{
        display: flex;
        flex-direction: column-reverse;
    }
    main>.userCard>.textAndPicture>.text{
        width: 100%;
        font-size: 1em;
        text-align: center;
        margin: 0;

    }
    main>.userCard>.textAndPicture>.text hr{
        width: 100%;
    }
    main>.userCard>.textAndPicture>.text>.welcome{
        display: none;
    }
    main>footer{
        display: flex;

    }
    main>.userCard>footer.media>a{
        margin: 0.1rem;
    }
    main>.userCard>.textAndPicture>.text dd,dt{
        font-size: 0.4rem !important;

    }

    main>.userCard>.textAndPicture>.text h1{
        font-size: 1rem;
        margin-top: 1rem;
    }
    main>.userCard>.textAndPicture>.text p{
        font-size: .5rem;
    }
    main>.userCard>.textAndPicture>.text dl{

    }

    section.skills{
        max-width: 10rem;
    }
    section.skills>#radar{
        display: none}

    section.skills>.skillDescription{
        margin: 0;
        padding: 0.5rem;
        font-size: 1em;
    }
    section.skills>.skillDescription>li{
        width: 100%;
    }
    section.skills>.skillDescription>li>p {
        font-size: 0.4rem;
    }
    section.portfolio{
        max-width: 10rem;

    }
    section.portfolio>.workWrapper::after{
        display: none;
    }
    section.portfolio>.workWrapper{
        display: flex;
        flex-direction: column;

    }
    section.portfolio>.workWrapper>.leftWork,.right{
        width:100%;
    }
    section.portfolio>.workWrapper>.rightWork{
        width:100%;
    }
    section.portfolio>.workWrapper>.leftWork {
    }
    section.portfolio>.workWrapper>.leftWork>.everyWork{
        width: 100%;
    }
    section.portfolio>.workWrapper>.rightWork>.everyWork{
        width: 100%;
    }
    section.portfolio>.workWrapper .everyWork>.innerWorkWrapper {
        min-width: auto;
    }
    section.portfolio>.workWrapper>.leftWork>.everyWork::after{
        display: none;
    }
    section.portfolio>.workWrapper>.rightWork>.everyWork::after{
        display: none;
    }
    section.portfolio>.workWrapper>.leftWork>.everyWork>.arrow{
        display: none;
    }
    section.portfolio>.workWrapper>.rightWork>.everyWork>.arrow{
        display: none;
    }
    section.portfolio>.workWrapper>.rightWork{
        padding-top: 0;
    }
    section.portfolio>.workWrapper .everyWork p {
        font-size: 0.4rem;
    }
    section.portfolio>.workWrapper .everyWork h3{
        font-size: 0.5rem;
    }
    section.portfolio>.workWrapper .everyWork h4 {
        font-size: 0.4rem;
    }


    section.message>#postMessageForm{
        padding: 1rem 0.5rem 0.5rem 0.5rem ;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    #postMessageForm>.content{
        height: 3rem;
        width: 100%;
    }
    #postMessageForm>input[name]{
        font-size: .4rem;
        width: 50%;
    }
    #postMessageForm>.submit{
        margin-left: 0;
        width: 2rem !important;
        height: 0.9rem !important;
        font-size: 0.4rem;
    }
    section.message>#messageList>li{
        padding: 0.2rem 0.5rem;
    }
    #messageList>li>.nameAndMessage>.nameAndTime>.name{
        font-size: 0.4rem;
    }
    #messageList>li>.nameAndMessage>.inner-message {
        font-size: 0.4rem;
    }

}