#radar{
    margin:0 auto 0 auto;
    width: 600px;
    height: 400px;
}
.skills>.skillDescription{
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
    margin-top: 30px;
}
section.skills>.skillDescription>li>.sk-bar.sk1{width: 85%}
section.skills>.skillDescription>li>.sk-bar.sk2{width: 70%}
section.skills>.skillDescription>li>.sk-bar.sk3{width: 70%}
section.skills>.skillDescription>li>.sk-bar.sk4{width: 60%}
section.skills>.skillDescription>li>.sk-bar.sk5{width: 70%}
section.skills>.skillDescription>li>.sk-bar.sk6{width: 75%}