* {
    box-sizing: border-box
}

* {
    outline: none;
}

h1,
h2,
h3,
h4,
h5,
p {
    margin: 0 0 0 0;
    padding: 0px;
}

dt,
dd {
    margin: 0px;
}

a {
    color: inherit;
    /*继承爸爸的颜色body，有些颜色可以继承，有些不可以*/
    text-decoration: none;
    cursor: pointer;
}

ol,
ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

html {
    font-size: 16px;
}

.clearfix::after {
    content: '';
    display: block;
    clear: both;
}

main {
    margin-top: 120px;
}

body {
    background: #efefef;
    color: black;
    margin: 0;
    color: #3d4451;
    min-width: 960px;
    font-family: Helvetica Neue, Helvetica, Arial, Microsoft Yahei, Hiragino Sans GB, Heiti SC, WenQuanYi Micro Hei, sans-serif;
}

.icon {
    width: 1em;
    height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}

.site-welcome {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    font-size: 16px;
    background: grey;
    z-index: 1;
    justify-content: center;
    align-items: center;
}

.site-welcome.active {
    display: flex;
}

.userCard {
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
    /*有宽度的div水平居中*/
    background: #ffffff;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.5);
}

.userCard .welcome {
    background-color: #e6686a;
    font-weight: bold;
    color: white;
    display: inline-block;
    /*内联元素不接受宽高，可以改成inline-block*/
    /*设置宽高从内往外做*/
    line-height: 12px;
    /*保险起见，有些显示器不一定是22px行高*/
    position: relative;
    margin-bottom: 10px;
    padding: 10px;
}

.userCard .welcome .triangle {
    width: 0px;
    height: 0px;
    border: 10px solid transparent;
    border-top-color: transparent;
    border-left-color: #e6686a;
    border-right-color: transparent;
    border-top-width: 0px;
    display: block;
    position: absolute;
    top: 100%;
    left: 14px;
    /*如何定位三角形*/
}

.userCard .picture {
    box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.4);
}

.userCard .picture img {
    width: 220px;
    height: 300px;
    vertical-align: bottom;
}

.userCard .text {
    width: 470px;
    margin-right: 50px;
    color: #3d4451;
}

.userCard .textAndPicture {
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.userCard .text h1 {
    margin-top: 10px;
    margin-bottom: 5px;
    letter-spacing: 4px;
    font-size: 40px;
}

.userCard .text p {
    font-size: 14px;
    letter-spacing: 1px;
    padding-left: 2px;
}

.userCard .text hr {
    height: 0px;
    border: none;
    border-top: 1px solid #dedede;
    margin: 10px 0;
}

.userCard dl {
    display: flex;
    flex-wrap: wrap;
}

.userCard dl dt,
.userCard dl dd {
    padding: 5px 0px;
    font-size: 15px;
    color: #3d4451;
}

.userCard dl dt {
    width: 20%;
    font-weight: bold;
    font-size: 15px;
}

.userCard dl dd {
    width: 80%;
    color: #9da0a7;
}

.userCard>footer.media {
    background-color: #e6686d;
    text-align: center;
}

.userCard>footer.media>a {
    display: inline-block;
    line-height: 24px;
    padding: 8px;
    border-radius: 50%;
    margin: 20px 40px;
}

.userCard>footer.media>a:hover {
    background-color: #cf5d5f;
}

.userCard svg {
    width: 24px;
    height: 24px;
    fill: white;
    vertical-align: top;
    /*是图标上下空位一样*/
}

.selfIntroduction {
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
    /*有宽度的div水平居中*/
    text-align: center;
    font-family: Microsoft YaHei UI;
    line-height: 1.8;
    font-size: 20px;
}

section.skills,
section.portfolio,
section.message {
    max-width: 940px;
    margin: 60px auto;
}

section.skills>h2,
section.portfolio>h2,
section.message>h2 {
    color: #3d4451;
    font-size: 34px;
    line-height: 1.2;
    font-weight: 600;
    text-align: center;
    margin-bottom: 20px;
}

section.skills h3 {
    font-size: 14px;
    line-height: 1.1;
    padding-right: 40px;
    margin: 0px;
    font-weight: normal;
}

section.portfolio {
    text-align: center;
    max-width: 940px;
}

section.portfolio .swiper-container {
    width: 940px;
    height: 540px;
}

section.portfolio .works {
    position: relative;
    background: #e6686d;
    ;
    max-width: 940px;
    margin: 0 auto;
    box-shadow: 3px 3px 12px 0px rgba(0, 0, 0, 0.5);
}

section.portfolio .icon {
    width: 2em;
    height: 2em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}

[data-x].offset {
    transform: translateY(100px);
}

[data-x] {
    transform: translateY(0px);
    transition: all 0.5s;
}

section.message>ul {
    max-width: 940px;
}